{
  "UserPreferences": {
    "AutoUpdates": null,
    "ToolsPath": null,
    "ShouldAutoHome": null,
    "AutoHomeDirectory": null,
  },
  "AutoUpdate": {
    "LastChecked": null,
    "CheckPeriod": "daily"
  }
}
