{
  "UserPreferences": {
    "AutoUpdates": null,
    "ToolsPath": null,
    "ShouldAutoHome": null,
    "AutoHomeDirectory": null,
  },
  "AutoUpdate": {
    "LastChecked": null,
    "CheckPeriod": "daily"
  },
  "InstallPreferences": {
    "RejectedNvm": false,
    "RejectedAz": false,
    "RejectedFzf": false,
    "RejectedRipgrep": false,
    "RejectedDotnet": false
  }
}
