! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #252525
*.color8:       #454545

! red
*.color1:       #ef6769
*.color9:       #fc7ca5

! green
*.color2:       #a6e22e
*.color10:      #b6e354

! yellow
*.color3:       #fd971f
*.color11:      #fd971f

! blue
*.color4:       #6495ed
*.color12:      #87ceeb

! magenta
*.color5:       #deb887
*.color13:      #996600

! cyan
*.color6:       #b0c4de
*.color14:      #87ceeb

! white
*.color7:       #dbdcdc
*.color15:      #fdfdfd





Xft.dpi: 92

!*.background: #000000
!*.foreground: #00ff40 

*.font: xft:Iosevka:style=Regular:size=20
*faceName: xft:Iosevka:style=Regular:size=20
*.boldFont: xft:Iosevka:style=Bold:size=20
*.italicFont: xft:Iosevka:style=Italic:size=20
*.boldItalicFont: xft:Iosevka:style=Bold Italic:size=20

!! URxvt
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 150x60
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.url-launcher: chromium 
URxvt.matcher.button: 1
URxvt.keysym.M-u: perl:matcher:select
URxvt.iso14755: false
URxvt.iso14755_52: false
